.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.version {
  color: #888;
}

.error-message {
  color: var(--color-error);
}

label.error {
  color: var(--color-error);
}

input.error {
  border-bottom: 1px solid var(--color-error);
  outline: none;
}

.button {
  padding: 0.5em 1em;
  border: 0;
  border-radius: 0.5em;
  background-color: var(--color-background);
  color: var(--color-text);
  border: 1px solid var(--color-text);
  border-radius: 0;
  cursor: pointer;
  font-size: 1.2rem;
}

.percentage {
  font-size: 1.2rem;
  text-align: center;
}

.percentage.success {
  color: var(--color-success);
}

.percentage.error {
  color: var(--color-error);
}

.percentage.warning {
  color: var(--color-warning);
}
